<div class="card">
  <div class="card-body">
    <!-- <h2 class="card-title">Axes</h2> -->
    <h2 class="card-header">Current Position</h2>
    <div class="row">
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">X</span>
            </div>
            <input type="text" aria-label="First name" class="form-control">
            <div class="input-group-prepend">
              <span class="input-group-text">Y</span>
            </div>
            <input type="text" aria-label="First name" class="form-control">
            <div class="input-group-prepend">
              <span class="input-group-text">Z</span>
            </div>
            <input type="text" aria-label="First name" class="form-control">
          </div>

      <!-- <div class="col-md-2 jog-button-padding"><button class='btn btn-secondary btn-block'>X :</button></div>
        <div class="col-md-2 jog-button-padding"><input type="text" class="form-control"></div>
        <div class="col-md-2 jog-button-padding"><button class='btn btn-secondary btn-block'>Y :</button></div>
        <div class="col-md-2 jog-button-padding"><input type="text" class="form-control"></div>
        <div class="col-md-2 jog-button-padding"><button class='btn btn-secondary btn-block'>Z :</button></div>
        <div class="col-md-2 jog-button-padding"><input type="text" class="form-control"></div> -->
    </div>
  </div>
</div>