<div class="card">
  <div class="card-body">
    <!-- <h2 class="card-title">Axes</h2> -->
    <h2 class="card-header">Jog Axes</h2>
    <div class="row">
      <div class="col-md-3 jog-button-padding"><button class='btn btn-primary btn-block'><i
            class="rotate-45-left fas fa-arrow-circle-up"></i></button></div>

      <div class="col-md-3 jog-button-padding"><button class='btn btn-primary btn-block' (click)=moveY(1)>Y+</button>
      </div>
      <div class="col-md-3 jog-button-padding"><button class='btn btn-primary btn-block'><i
            class="rotate-45-right fas fa-arrow-circle-up"></i></button></div>
      <div class="col-md-3 jog-button-padding"><button class='btn btn-primary btn-block' (click)=moveZ(1)>Z+</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 jog-button-padding"><button class='btn btn-primary btn-block' (click)=moveX(-1)>X-</button>
      </div>
      <div class="col-md-3 jog-button-padding"><button class='btn btn-success btn-block'
          (click)=moveAbsolute()>REST</button></div>
      <div class="col-md-3 jog-button-padding"><button class='btn btn-primary btn-block' (click)=moveX(1)>X+</button>
      </div>
      <div class="col-md-3 jog-button-padding"><button class='btn btn-primary btn-block'>Z0</button></div>
    </div>
    <div class="row">
      <div class="col-md-3 jog-button-padding"><button class='btn btn-primary btn-block'><i
            class="rotate-45-right fas fa-arrow-circle-down"></i></button></div>
      <div class="col-md-3 jog-button-padding"><button class='btn btn-primary btn-block' (click)=moveY(-1)>Y-</button>
      </div>
      <div class="col-md-3 jog-button-padding"><button class='btn btn-primary btn-block'><i
            class="rotate-45-left fas fa-arrow-circle-down"></i></button></div>
      <div class="col-md-3 jog-button-padding"><button class='btn btn-primary btn-block' (click)=moveZ(-1)>Z-</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3 jog-button-padding"><button class='btn btn-dark btn-block'>X :</button></div>
      <div class="col-md-9 jog-button-padding"><input type="text" class="form-control"></div>
    </div>
    <div class="row">
      <div class="col-md-3 jog-button-padding"><button class='btn btn-dark btn-block'>Y :</button></div>
      <div class="col-md-9 jog-button-padding"><input type="text" class="form-control"></div>
    </div>
    <div class="row">
      <div class="col-md-3 jog-button-padding"><button class='btn btn-dark btn-block'>Z :</button></div>
      <div class="col-md-9 jog-button-padding"><input type="text" class="form-control"></div>
    </div>
    <div class="row">
        <div class="col-md jog-button-padding"><button class='btn btn-success btn-block'>Move absolute</button></div>
    </div>

  </div>
</div>